body {
    min-width: 330px;
  }
#inbox-column{
    background-color: rgb(150, 149, 149);
}
.email-list{
    background-color: rgba(252, 242, 230, 0.555);
}

.open-email{
    background-color:rgb(212, 213, 214);
}

 .compose-button{
    display:flex;
    justify-content: center;
 }

 .logo-image{
    width:100px;
    height:75px;
 }

.email-text{
    font-size:24px;
}

.reply-button{

}