body {
    overflow-y:hidden;
  }
#inbox-column{
    background-color: rgb(150, 149, 149);
}
.email-list{
    background-color: rgb(252, 242, 230);
}

.open-email{
    background-color:rgb(212, 213, 214);
}

#reply-email{
    height: 300px;
 }

 #reply-text{
    height:170px;
 }