body {
    min-width: 330px;
  }
#inbox-column{
    background-color: rgba(68, 68, 68, 0.836);
}
.email-list{
    background-color: rgba(250, 242, 233, 0.651);
}

.open-email{
    background-color:rgb(212, 213, 214);
}

 .compose-button{
    display:flex;
    justify-content: center;
 }

 .logo-image{
    width:100px;
    height:75px;
 }

.email-text{
    font-size:24px;
}

.reply-email{
    height: 610px;
}

.text-header{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
}
